<!doctype html>
<html>
  <head>
    <title>chat</title>

  </head>

  <body>
    Login
    <form action="/login"  method = "POST">
    <input type="text" name="name" placeholder="Name">
    <input name="password" type="password" placeholder="Password">
    <button type="submit" >SUBMIT</button>
    </form>
    Signup
    <form action="/putUsername"  method = "POST">
    <input type="text" name="name" placeholder="Name">
    <input name="password" type="password" placeholder="Password">
    <button type="submit" >SUBMIT</button>
    </form>
<div>
  <p id='msg'>
  <%= content %>
</p>

  </body>
</html>
